body {
    font-family: 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
}

.header,
.footer {
    background-color:#1F2937;
    color: #F9FAF8;
    display: flex;
}

.top {
    background-color: #1F2937;
    display: flex;
}

#top {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

ul,
p {
    font-size: 18px;
    color: #e5e7eb;
}
 ul {
     display: flex;
     text-decoration: none;
 }
.logo {
    font-size: 24px;
    color: #f9faf8;
    padding-left: 100px;
}

.bottom {
    background-color: #3882f6;
}

#bottom {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}
.button {
    background-color: #3882f6;
    color: #f9faf8;
}

.quote {
    background-color: #e5e7eb;
    font-size: 36px;
    color: #1f2937;
}

.middle {
    display: flex;
    flex-direction: column;
}

#middle {
    text-align: center;
}
.card {
    display: flex; 
    flex-direction: column;
    justify-content: center;
}

.content {
    display: flex;
    flex-direction: row;

}